function Main.main 2
call StartScreen.showGameOver 0
pop temp 0
call StartScreen.show 0
pop temp 0
call Keyboard.readChar 0
pop local 0
push local 0
push constant 49
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Game.new 0
pop local 1
push local 1
call Game.play 1
pop temp 0
label IF_FALSE0
push constant 0
return
